<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>学生管理系统</title>

</head>

<body>
<h1>登录</h1>
<form method="post"  action="/">
    {% raw xsrf_form_html() %}
        <p><span>用户:</span><input type="text" name="email"/></p>
        <p><span>密码:</span><input type="password" name="password" /></p>
        <p><input type="submit" value="登录" name="login" /></p></form>

<p >没有帐号？<a href="/register">[立即注册]</a></p>

</body>
</html>